
header{
    /* z-index: 1; */
    /* position: relative; */
}

/* body{
    background: url("../../space-black.jpg"); 
} */

main{
    /* z-index: 0; */
}

#nav{
    width: 100%;
    position: absolute;
    /* border: 2px solid gold; */
    border-top: 1;
    border-top: 1px solid rgba(246, 245, 245, 0.636);
    border-bottom: 1px solid rgba(246, 245, 245, 0.636);
    /* opacity: 0.8; */
    
}

#nav:hover{
    background-color: #343a4090;
    /* transform: scale(1.05); */
}

#navbarNav{
    /* border: 4px solid rgb(185, 13, 13); */
}

#navTexto{
    /* border: 1px solid greenyellow; */
    width: 30%;
    height: 5vh;
}

#navIconos{
    /* border:1px solid red; */
    width: 15%;
    height: 5vh;
    color: white;
    /* transform: scale(1.2); */
    display: flex;
    justify-content: flex-end;
}

.divIconoIndividual{
    padding-right: 1rem;
    padding-top: 0.45rem;
}

.divCarrusel{
    width:100%;
    /* position: absolute; */
    /* border: 5px solid white; */
    
}

.imagenSlider{
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.imagenContenedor{
    justify-content: center;
    width: 100%;
    background-color: #343a40;
    opacity: 0.8;
}

.imagenMovimiento{
    /* border: 1px solid red; */
}

.container{
    padding: 0;
    /* border: 1px solid grey; */
}
.divCards{
    width: 100%;
    padding: 0 5%
}
.divCard{
    /* border: 1px solid greenyellow; */
    width: 25%;
    padding: 1%;
}
.card{
    height: 100%;
    /* border: 1px solid red; */
}
.img-card{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: center;
}


.letra{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Oswald', sans-serif; */

}

h5{
    font-family: 'Sigmar One', cursive;
    /* font-family: 'Oswald', sans-serif; */
    font-size: 1.7rem;
    font-weight: 700;
}

.card:hover{ 
    background: #343a40;
    transform: scale(1.05);
    color: white;
}

.video{
    width: 70%;
    height: 70%;
    padding: 2rem;
    margin-right: 4rem;
}

.verVideo{
    height: 5vh;
    font-size: 1.5rem;
    font-weight: bold;
}


.btn-close-popup{
    background: black;
    color: white;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-style: none;
}

.btn-warning .transformacion{
    transform: scale(1.5);
}

.contenedor{
    width: 100%;
    height: 100vh;
    position: fixed; 
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}

.contenedor:target{
    background: rgba(0, 0, 0, 0.6);
    visibility: visible;
    opacity: 1;
}

