header{
    /* z-index: 1; */
    /* position: relative; */
}
main{
    /* z-index: 0; */
}

#nav{
    width: 100%;
    position: absolute;
    /* border: 2px solid gold; */
    border-top: 1;
    border-top: 1px solid rgba(246, 245, 245, 0.636);
    border-bottom: 1px solid rgba(246, 245, 245, 0.636);
    /* opacity: 0.8; */
    
}

#nav:hover{
    background-color: #343a4090;
    /* transform: scale(1.05); */
}

.container{
    width: 50%;
    /* border: 4px solid white; */
}

#navbarNav{
    /* border: 4px solid rgb(185, 13, 13); */
}

#navTexto{
    /* border: 1px solid greenyellow; */
    width: 30%;
    height: 5vh;
}

#navIconos{
    /* border:1px solid red; */
    width: 15%;
    height: 5vh;
    color: white;
    /* transform: scale(1.2); */
    display: flex;
    justify-content: flex-end;
}

.divIconoIndividual{
    padding-right: 1rem;
    padding-top: 0.45rem;
}

.divCarrusel{
    width:100%;
    /* position: absolute; */
    /* border: 5px solid white; */
    
}

.imagenSlider{
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.imagenContenedor{
    justify-content: center;
    width: 100%;
    background-color: #343a40;
    opacity: 0.8;
}

.imagenMovimiento{
    /* border: 1px solid red; */
}

.container{
    border: 1px solid grey;
}
.divCards{
    width: 100%;
    padding: 0 5%
}
.divCard{
    /* border: 1px solid greenyellow; */
    width: 25%;
    padding: 1%;
}
.card{
    height: 100%;
    /* border: 1px solid red; */
}
.img-card{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: center;
}


